:root {
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    --aqua-color: #00D5E4;
    --red-color: #ED2323;
    --blue-color: #3B3A8F;
}

*, :before, :after {
    box-sizing: inherit;
}

li {
    list-style-type: none;
}

a {
    display: inline-block;
    padding: 0.9rem 0rem;
    padding-left: 1.8rem;
}

button {
    background-color: #FFFFFF;
    color: #FFFFFF;
    padding-right: 1.8rem;
}

h1 {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

h2 {
    margin-top: 1.7rem;
    padding: 0rem 1.7rem;
    font-family: 'Fredoka One', sans-serif;
    text-align: center;
}

.imgcolor {
    display: block;
    margin: 0 auto;
}

p {
    font-size: 1.1rem;
    line-height: 1.4rem;
    text-align: center;
    padding: 0 7rem;
}

.pflex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pHeader {
    padding-left: 0.9rem;
    font-family: 'Fredoka One', sans-serif;
    font-size: 1.2rem;
    line-height: 1.4rem;
    padding-right: 12rem;
}

.pWeare {
    padding-top: 1.3rem;
}

.pIndent {
    margin-top: 1.7rem;
}

fieldset {
    font-size: 1.3rem;
    color: var(--aqua-color);
    margin-top: 1rem;
    margin-bottom: 3rem;
    padding-top: 1rem;
    text-align: center;
}

legend {
    font-size: 2rem;
    line-height: 2.6rem;
    text-align: center;
}

.formh2 {
    font-weight: 700;
    font-size: 2rem;
    line-height: 2.6rem;
    color: #000;
    margin: 0;
    padding-top: 3rem;
}

.Cform {
    min-width: 320px;
    max-width: 40%;
    margin: 0 auto;
}

.formgrid {
    display: grid;
    justify-content: center;
}

.input-label {
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    color: var(--blue-color);
    display: block;
    text-align: left;
}

.formflex {
    display: flex;
    justify-content: space-evenly;
}

.buttonForm {
    font-size: 1.2rem;
    padding: 0.3em;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 1px;
    color: #000;
}

.buttonForm:hover {
    background-color: var(--aqua-color);
}

@media all and (min-width: 460px) {
    
}

@media all and (max-width: 768px) {
    nav {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
    }
}
